<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
    </head>
    <body>
        <ul>
            <% messages.map((message) => { %>
            <li><%= message.text %></li>
            <li><%= message.user %></li>
            <li><%= message.added %></li>
            <% }) %>
        </ul>
         <ul> 

    </body>
</html>
